<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>dtbafrica</id>
        <username>${env.AZURE_DEVOPS_ARTIFACTS_USER}</username>
        <password>${env.AZURE_DEVOPS_ARTIFACTS_PASSWORD}</password>
    </server>
  </servers>
</settings>